* {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    background-color: #FFFBE2;
    width: 100%;
    height: 33px;
}

#get {
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
    color: #595e68;
    font-family: sans-serif;
}

#headerd {
    width: 300px;
    margin: 0 auto;
}

img {
    margin: 3px 10px 5px 0px;
    height: 25px;
    width: 15px;
    float: left;
}

/* main */

.main, h1 {
    width: 300px;
    margin: 5px auto;
    text-align: center;
    font-size: 23px;
    color: #1878F3;
}

h1 {
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::placeholder {
    padding-left: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #757577;
}

#form,  input{
    box-shadow: 0px 1px 0px 1px #D1D1D1;
    width: 291px;
    height: 30px;
    margin: 3px 0;
    background-color: #F5F6F8;
    border: none;
    border-radius: 3px;
}

#log {
    width: 290px;
    height: 30px;
    border: none;
    background-color: #1878F3;
    color: #fff;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: 750;
}

#for {
    font-size: 13px;
    text-align: center;
    color: #1878F3;
    font-weight: bold;
    font-size: small;
    font-family: sans-serif;
}

#create {
    width: 146px;
    height: 30px;
    background-color: #00A400;
    border: none;
    color: #F5FFF6;
    border-radius: 4px;
    font-weight: 750;
}

#line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#color {
    background-color: #fff;
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #4B4F52;
}

/* footer */

.footer {
    width: 300px;
    margin: 260px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer ul {
    padding: 0px 0px 10px 0;
 }

.footer ul li{
    font-size: 13px;
    list-style-type: none;
    color: #647392;
 }

.footer #ul2 {
    margin-left: 70px;
    margin-right: 30px;
 }

 .footer #ul3 li {
    display: inline-flex;
    padding: 0px 2px;
 }

 #plus {
     width: 20px;
     height: 20px;
 }

 #inc {
     text-align: center;
     font-size: 15px;
     font-weight: 300;
     color: #808080;
 }

@media (min-width: 375px) {
    
    /* header */
    
    .header {
        background-color: #FFFBE2;
        width: 100%;
        height: 33px;
    }
    
    #get {
        font-size: 14px;
        line-height: 33px;
        color: #3F598C;
        font-family: sans-serif;
    }

    
    
    #headerd {
        width: 330px;
        margin: 0 auto;
    }
    
    /* main */
    
    .main, h1 {
        width: 330px;
        margin: 5px auto;
        text-align: center;
        font-size: 23px;
        color: #1878F3;
    }
    
    h1 {
        margin: 10px 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    input::placeholder {
        padding-left: 12px;
        font-size: 13px;
        font-weight: bold;
        color: #757577;
    }
    
    #form,  input{
        box-shadow: 0px 1px 0px 1px #D1D1D1;
        width: 330px;
        height: 33px;
        margin: 3px 0;
        background-color: #F5F6F8;
        border: none;
        border-radius: 3px;
    }
    
    #log {
        width: 330px;
        height: 33px;
        border: none;
        background-color: #1878F3;
        color: #fff;
        margin-top: 5px;
        border-radius: 4px;
        font-weight: 750;
    }
    
    #for {
        font-size: 13px;
        text-align: center;
        color: #1878F3;
        font-weight: bold;
        font-size: small;
        font-family: sans-serif;
    }
    
    #create {
        width: 146px;
        height: 33px;
        background-color: #00A400;
        border: none;
        color: #F5FFF6;
        border-radius: 4px;
        font-weight: 750;
    }
    
    #line {
        width: 100%;
        height: 1px;
        background-color: #000;
        margin: 25px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #color {
        background-color: #fff;
        width: 40px;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        color: #4B4F52;
    }
    
    /* footer */
    
    .footer {
        width: 330px;
        margin: 260px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer ul {
        padding: 0px 0px 10px 0;
     }
    
    .footer ul li{
        font-size: 13px;
        list-style-type: none;
        color: #647392;
     }
    
    .footer #ul2 {
        margin-left: 80px;
        
     }
    
     .footer #ul3 li {
        display: inline-flex;
        padding: 0px 2px;
     }
    
     #plus {
         width: 20px;
         height: 20px;
     }
    
     #inc {
         text-align: center;
         font-size: 15px;
         font-weight: 300;
         color: #808080;
     }
    
}

 
 





 
 



